
	/**
	 * Elements
	 */
	body {
		counter-reset: one, page 1;
		max-width: 800px;
		margin: 0 auto;
		font-family: Cambria;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.1em;
	}
	img {
		max-width: 100%;
	}
	section {
		page-break-after: always;
	}
	section div {
		page-break-inside: avoid;
		padding-left: 30px;
	}
	
	table {
		page-break-inside: avoid;
	}
	
	@page {
		counter-increment: page;
		@bottom-right {
			content: counter(page);
		}
	}
	
	.imagelist {
		width: 100%;
	}
	.imagelist td {
		padding: 15px 0 15px 15px;
	}
	.imagelist td:first-child {
		padding-left: 0;
	}

	/**
	 * Numbering
	 */
	.chapter h1 {
		counter-reset: two;
		counter-increment: one;
	}
	.chapter h1:before {
		content: counter(one) ". ";
	}
	.chapter h2 {
		counter-reset: three;
		counter-increment: two;
	}
	.chapter h2:before {
		content: counter(one) "." counter(two) ". ";
	}
	.chapter h3 {
		counter-increment: three;
	}
	.chapter h3:before {
		content: counter(one) "." counter(two) "." counter(three) ". ";
	}

	/**
	 * prism.js default theme for JavaScript, CSS and HTML
	 * Based on dabblet (http://dabblet.com)
	 * @author Lea Verou
	 */
	code[class*="language-"],
	pre[class*="language-"] {
		color: black;
		text-shadow: 0 1px white;
		font-family: Consolas, Monaco, 'Andale Mono', monospace;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	@media print {
		code[class*="language-"],
		pre[class*="language-"] {
			text-shadow: none;
		}
	}

	/* Code blocks */
	pre[class*="language-"] {
		padding: 1em;
		margin: .5em 0;
		overflow: auto;	
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: #f5f2f0;
	}

	/* Inline code */
	:not(pre) > code[class*="language-"] {
		padding: .1em;
		border-radius: .3em;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: slategray;
	}

	.token.punctuation {
		color: #999;
	}

	.namespace {
		opacity: .7;
	}

	.token.property,
	.token.tag,
	.token.boolean,
	.token.number {
		color: #905;
	}

	.token.selector,
	.token.attr-name,
	.token.string {
		color: #690;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		color: #a67f59;
		background: hsla(0,0%,100%,.5);
	}

	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: #07a;
	}

	.token.regex,
	.token.important {
		color: #e90;
	}

	.token.important {
		font-weight: bold;
	}

	.token.entity {
		cursor: help;
	}
